@model WebShop.Models.SanPham

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<br />
<h2 class="col-md-6 text-danger">
    <b>CHỈNH SỬA SẢN PHẨM</b>
</h2>

@using (Html.BeginForm("Edit", "Dashboard", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.MaHang)
        @Html.HiddenFor(model => model.TrangThai)
        <div class="form-group">
            @Html.LabelFor(model => model.TenHang, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenHang, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenHang, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Tên Nhà Cung Cấp</label>
            <div class="col-md-10 ">
                @Html.DropDownList("MaNhaCungCap")
                @*@Html.DropDownListFor(model => model.MaNhaCungCap, (SelectList)ViewBag.MaNhaCungCap, "[Chọn Nhà Cung Cấp]", new { @class = "form-control" })*@
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Tên Loại Hàng</label>
            <div class="col-md-10">
                @Html.DropDownList("MaLoaiHang")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GiaBan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GiaBan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GiaBan, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Hình Ảnh Hiện Tại</label>
            @Html.HiddenFor(model => model.HinhAnh)
            <div id="Image" class="col-md-10">
                <img src="@Url.Content("~/Public/images/" + Model.HinhAnh)" width="100" height="100" />
                @if (TempData.ContainsKey("CheckImage"))
                {
                    MyMessage sms = (MyMessage)TempData["CheckImage"];
                    <div class="text-danger">@sms.Msg</div>
                }
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Cập nhật ảnh mới(Không bắt buộc)</label>
            <div class="col-md-10">
                @* Name của thẻ input phải trùng tên với tên biến HttpPostedFileBase của DashboardController *@
                <input type="file" name="imageFile" />
            </div>
        </div>
        <div class="form-group">
            @*@Html.LabelFor(model => model.NgayCapNhat, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.HiddenFor(model => model.NgayCapNhat, new { htmlAttributes = new { @class = "form-control" } })
                @*@Html.ValidationMessageFor(model => model.NgayCapNhat, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SoLuongTon, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoLuongTon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SoLuongTon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MoTa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.MoTa, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <a class="btn btn-sm btn-info" href="@Url.Action("Index","Dashboard")">
                    <i class="fas fa-backward"></i> <b>Back to List</b>
                </a>
                <button type="submit" class="btn btn-success btn-sm">
                    <i class="fas fa-save"></i> <b>Save</b>
                </button>
            </div>
        </div>
    </div>
}