@using PagedList.Mvc;
@using PagedList;
@model PagedList.PagedList<WebShop.Models.SanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().MaHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TenHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().NhaCungCap.TenNhaCungCap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().LoaiHang.TenLoaiHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().GiaBan)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HinhAnh)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.First().NgayCapNhat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().SoLuongTon)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhaCungCap.TenNhaCungCap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiHang.TenLoaiHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaBan)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.MoTa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HinhAnh)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.NgayCapNhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongTon)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
</table>